.card {
    width: 100%;
    border: 2px solid black;
    height: 350px;
    padding: 10px;
}

.card img {
    width: 90%;
    height: 200px;
    object-fit: contain;
}

.card_price {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}