@media (max-width: 500px) {
    .admin-page{
        width: 100%;
        height: 92.4vh;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;

        form{
            width: 85% !important;
            height: 70%;
            margin-left: 0 !important;

            button{
                width: 80% !important;
            }
        }
        .uzum-bac {
            width: 50%;
            margin-left: 0 !important;
            // border: 1px solid red;
            
            img {
                width: 100%;
                height: 90%;
                object-fit: cover;
            }
        }
    }

}